{% extends 'base.html.twig' %}

{% block title %}Review index{% endblock %}

{% block body %}
    <h1>Review index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Review</th>
                <th>Stars</th>
                <th>Validated</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.review }}</td>
                <td>{{ review.stars }}</td>
                <td>{{ review.validated }}</td>
                <td>{{ review.createdAt ? review.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ review.updatedAt ? review.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_review_show', {'id': review.id}) }}">show</a>
                    <a href="{{ path('app_review_edit', {'id': review.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="">Create new</a>
{% endblock %}
